* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo-section {
  margin-bottom: 30px;
}
.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.control-action {
  min-width: 100px;
  min-height: 100px;
  padding: 22px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-action:hover {
  scale: 1.1;
}

.control-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.control-item img {
  width: 60px;
}
.control-item p {
  font-size: 16px;
  font-weight: bold;
}

.action-bar {
  background-color: #e4ffe9;
  padding: 10px 22px;
  border-radius: 12px;
  margin-bottom: 32px;
}
.action {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.action img {
  width: 26px;
}

.search-controls {
  justify-content: space-between;
  margin: 30px 0px;
}

.search-card {
  flex-grow: 1;
  padding: 16px;
  min-height: 100px;
  min-width: 180px;
  background-color: #fdffed;
  border-radius: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.searchBtn {
  padding: 8px 16px;
  background: #90ffa6;
  border: none;
}

.text-center {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}
.d-flex {
  display: flex;
}
.gap-1 {
  gap: 6px;
}
.gap-2 {
  gap: 20px;
}

.copy-text {
  position: fixed;
  bottom: 12px;
  font-size: 14px;
  font-weight: bold;
}
.copy-text a {
  color: #50aa57;
}

@media print {
  .no-print {
    display: none !important;
  }
}
